/******************* Main CSS *************/

body {
    margin: 0px;
    height: 90vh
}

li {
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

/**** Top Navigation ******/
.topnav {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999999;
    background-color: #E37F36;
    color: black;
}

.topnav a {
    color: black;
}

.topnav a:hover {
    color: black;
    font-size: 25px;
}

.topnav .logo {
    font-size: 20px;
}

.topnav li {
    padding: 10px;
}

.rightnav {
    float: right;
    right: 5px;
}

@media only screen and (max-width: 500px){
    .rightnav {
        top: 5px;
        position: relative;
        display: inline-block;
    }

    .topnav {
        height: 100px;
    }
}

/**** Main Page CSS ******/
main {
    width: 100%;
    top: 0px;
}

.homepage {
    width: 100%;
    height: 100%;
    position: relative;
    top: 35px;
    background-image: url(/assets/meal-gd261a872c_1920.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    opacity: rgba(169, 190, 170, 0.1);
}


.mainheader {
    top: 45%;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
}

.mainheader h1 {
    font-size: 50px;
}

/**** Sitemap CSS ******/
.sitemap {
    width: 100%;
    height: 100%;
    position: relative;
    top: 75px;
    background-image: url(/assets/sitemap.jpeg);
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
}

/**** About Page CSS ******/
.aboutcontainer {
    width: 100%;
    height: 500px;
    position: relative;
    top: 60px;
    padding: 20px;
}

div.galleryimg {
    margin: 20px;
    border: 1px solid #777;
    float: left;
    width: 380px;
}

div.galleryimg img {
    width: 100%;
    max-height: 50%;
}

.leftimage {
    width: 50%;
    max-height: 100%;
}

.leftimage video {
    width: 100%;
    height: 100%;
}

.righttext {
    position: absolute;
    float: right;
    left: 50%;
    width: 50%;
    padding: 10px;
    top: 0px;
}

.righttext p {
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 500px){
    .leftimage {
        width: 100%;
        margin-top: 30px;
    }

    .righttext {
        position: relative;
        padding-top: 10px;
        left: 0px;
        width: 100%;
        float: left;
    }
}

.gallerycontainer {
    width: 100%;
    margin-top: 7%;
    position: relative;
    height: 70vh
}

/**** Portfolio Page CSS ******/
.portfolio {
    top: 10%;
    position: relative;
}

.portfoliocontainer {
    width: 100%;
    top: 20%;
    position: relative;
    height: 70vh
}

.gallerycontainer h1, .portfoliocontainer h1 {
    width: 100%;
    text-align: center;
}

.gallerycontainer img, .portfoliocontainer img {
    width: 350px;
    height: 350px;
}

/**** Footer CSS ******/
footer {
    position: fixed;
    float: right;
    right: 0px;
    bottom: 0px;
    background-color: #E37F36;
}

footer a {
    color: black;
}

footer li {
    padding: 10px;
    display: block;
}